.card-container{
    width: 100%;
    min-height: 249px;
    max-height: auto;
    border: 1px solid #3F005E;
    border-radius: 20px;
    margin-top: 50px;
}

.base-superior {
    height: 115px;
    background-color: #3F005E;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.minerva {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ellipse {
    position: absolute;
    top: 27px;
    right: 25px;
}

.base-inferior{
    min-height: 100px;
    max-height: auto;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    color: black;
}

.card-title{
    color:#3F005E;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.card-icon{
    width: 30px;
}

.card-description{
    font-size: 0.8rem;
    width: 100%;
}

.card-container:hover{
    .base-superior {
        background-color: #5E2977;
        img{
            filter: invert(0);
        }
    }

    .base-inferior {
        background-color: #3F005E;
    }

    .card-title{
        color:#FFBD59;
    }

    .card-description{
        color: #FFFFFF;
    }
}

.card-container:hover img {
    filter: invert(76%) sepia(63%) saturate(5128%) hue-rotate(321deg) brightness(96%) contrast(96%);
  }
