.events-container{
    width: 100%;
    height: 1000px;
    background-image: url('../../assets/purple-background-events.svg');
    background-repeat: no-repeat;
}
.gallery-transform{
    display: flex;
    flex-direction: column;
    transform: rotate(-7.21deg);
    width: 105vw;
    gap: 54px;
    position: relative;
    top: 30%;
}
.gallery-container{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}