.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
}

/* Botão hamburguer (☰ / ✕) */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #3F005E;
  z-index: 1100;

  @media (max-width: 970px) {
    display: block;
    position: fixed;
    top: 25px;
    right: 25px;
  }
}

//desktop menu
.button-group {
  display: flex;
  gap: 60px;
  font-family: "Segoe UI";

  .botao-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.05em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-color: white;
    background-color: white;
    border-style: solid;
    border: none;

    &:hover {
      color: #be5af0;
    }
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown {
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 10px 10px 6px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border: 1px solid #9f9f9f;
    border-radius: 0 0 10px 10px;
    white-space: nowrap;

    .dropdown-item {
      padding: 8px 12px;
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 1.05em;

      &:hover {
        color: #be5af0;
      }
    }
  }
}

//mobile menu
@media (max-width: 970px) {
  .button-group {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0; //cobre a tela inteira
    background: rgba(255, 255, 255, 0.97);
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    gap: 2rem;

    .botao-navbar {
      //display: block;
      font-size: 1.5em;
      font-weight: 700;
      color: #3F005E;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: #be5af0;
      }
    }
    .dropdown-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .botao-navbar {
        text-align: center;
        width: 100%;
      }

      .dropdown {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        border: none;
      }

      .dropdown-item {
        font-size: 1.3em;
        padding: 0.5rem;
        color: #3F005E;

        &:hover {
          color: #be5af0;
        }
      }
    }
  }

  .button-group.open {
    display: flex;
    transform: translateY(0);
  }
}
